boto3>=1.8.6
botocore>=1.11.6
certifi>=2018.8.24
chardet>=3.0.4
docutils>=0.14
idna>=2.7
inflection>=0.3.1
jmespath>=0.9.3
jsonschema>=2.6.0
lxml>=4.2.4
Markdown>=2.6.11
pbr>=4.2.0
pipdeptree>=0.13.0
psycopg2>=2.7.5
pyasn1>=0.4.4
pydevd>=1.4.0
pyotp>=2.2.6
pyperclip>=1.7.0
python-dateutil>=2.7.3
python-jsonschema-objects>=0.3.3
PyYAML>=3.13
requests>=2.19.1
robot>=20071211
robotframework>=3.0.4
robotframework-lint>=0.9
robotframework-pabot>=0.44
robotframework-selenium2library>=3.0.0
robotframework-seleniumlibrary>=3.1.1
robotremoteserver>=1.1
rsa>=3.4.2
s3transfer>=0.1.13
selenium>=3.14.0
six>=1.11.0
SQLAlchemy>=1.2.11
sqlalchemy-redshift>=0.7.1
stevedore>=1.29.0
urllib3>=1.23
virtualenv>=16.0.0
virtualenv-clone>=0.3.0
virtualenvwrapper>=4.8.2
